### Начнем с оформления

* Научусь оформлять разделения пунктов
* Посмотрю как ведет себя Yupiter Notebook в деле
* Посмотню примеры

## Тут вроде можно и HTML код писать

<b> привет </b>

<h3> действительно теги работают, юхууу</h3>

In [6]:
5+6

11

In [7]:
my_integer = 10
type(my_integer)

int

### List comprehension

#### Дана некоторая последовательность чисел, мы хотим оставить только те, что делятся на 5

In [8]:
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [17]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print(num)

0
15
30

In [14]:
# если хотим получить отфильтрованный лист, то:
filtered_sequence = []
for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)
        print(filtered_sequence)

[0]
[0, 15]
[0, 15, 30]

In [20]:
[num for num in sequence if num % 5 == 0 ]

[0, 15, 30]

In [21]:
api_responce = [
    ['2021-03-20', '777', 184],
    ['2021-03-21', '111', 146],
    ['2021-03-22', '777', 98],
    ['2021-03-23', '111', 453],
    ['2021-03-24', '777', 332],
    ['2021-03-25', '111', 65],
    ['2021-03-26', '777', 181],
]

In [22]:
for element in api_responce:
    print(element[2])

184
146
98
453
332
65
181

In [32]:
sum([element[2] for element in api_responce if element[1]=='777'])

795

### Множества

#### Набор неповторяющихся элементов в случайном порядке

In [42]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills  = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [43]:
# логическое ИЛИ - что нужно знать data-scientist, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills )

{'Tableau', 'Hadoop', 'Python', 'R', 'SAS', 'Java', 'Scala', 'Git', 'SQL'}
{'Tableau', 'Hadoop', 'Python', 'R', 'SAS', 'Java', 'Scala', 'Git', 'SQL'}

In [44]:
# логическое И - что нужно знать и сатанисту и инженеру
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills )

{'Python', 'Git', 'SQL'}
{'Python', 'Git', 'SQL'}

In [45]:
# разность множеств - что знает сатанист и не знает инженер (и наоборот)
print(data_scientist_skills.difference(data_engineer_skills))
print(data_scientist_skills - data_engineer_skills )

{'Tableau', 'R', 'SAS'}
{'Tableau', 'R', 'SAS'}

In [46]:
# симметричная разность множеств
print(data_scientist_skills.symmetric_difference(data_engineer_skills))
print(data_scientist_skills ^ data_engineer_skills )

{'Tableau', 'Hadoop', 'SAS', 'Scala', 'Java', 'R'}
{'Tableau', 'Hadoop', 'SAS', 'Scala', 'Java', 'R'}

### Словари

In [58]:
salaries = {
    'John': 1200,
    'Mary': 450,
    'Liza': 2100,
}

In [51]:
salaries['John']

1200

In [59]:
# удаляем элемент из словаря
del(salaries['Liza'])
salaries

{'John': 1200, 'Mary': 450}

In [62]:
# добавляем элемент в словарь
salaries['Kate'] = 4000
salaries

{'John': 1200, 'Mary': 450, 'Kate': 4000}

In [63]:
#Безопасно получаем значение по ключу
salaries.get('Oleg', 'Not found')

'Not found'

In [64]:

salaries.get('Mary', 'Not found')

450

In [66]:
#проверка на наличие ключа в словаре
recruit = 'Amanda'
if recruit in salaries:
    print('Значение словаря уже существует')
else:
        print('Добавлю новый ключ')
        salaries[recruit] = 2200
print(salaries)

Добавлю новый ключ
{'John': 1200, 'Mary': 450, 'Kate': 4000, 'Amanda': 2200}

In [67]:
#Можно использовать ключ setdefault
#setdefault не изменяет значение,если ключ уже был в словаре
salaries.setdefault('Mary', 3000)
salaries

{'John': 1200, 'Mary': 450, 'Kate': 4000, 'Amanda': 2200}

In [68]:
#Можно использовать ключ setdefault
#setdefault не изменяет значение,если ключ уже был в словаре
salaries.setdefault('Paul', 3000)
salaries

{'John': 1200, 'Mary': 450, 'Kate': 4000, 'Amanda': 2200, 'Paul': 3000}

In [78]:
#перейдем к более сложному словарю
staff_dict = {
    'Robert':{'salary': 800, 'bonus':200},
    'Jane':{'salary': 200, 'bonus':300},
    'Liza':{'salary': 1300, 'bonus':200},
    'Richard':{'salary': 500, 'bonus':1200}
}

In [79]:
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200}}

In [82]:
staff_dict['Robert']['bonus']

200

In [84]:
#назначать новые значения словаря, применяя сложные структуры
staff_dict['Oleg'] = {'salaries':1000000, 'bonus':3000}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salaries': 1000000, 'bonus': 3000}}

In [85]:
#получаем только ключи/значения из словаря(очень пригодится в циклах)
print(staff_dict.items())

dict_items([('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salaries': 1000000, 'bonus': 3000})])

In [86]:
print(list(staff_dict.items()))

[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salaries': 1000000, 'bonus': 3000})]

In [87]:
print("Robert's salary", staff_dict['Robert']['salary'])

Robert's salary 800

In [88]:
print("Robert's salary", staff_dict['Robert']['salary'])
print("Jane's salary", staff_dict['Jane']['salary'])
print("Richard's salary", staff_dict['Richard']['salary'])

Robert's salary 800
Jane's salary 200
Richard's salary 500

In [89]:
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [94]:
for key in staff_dict.keys():
    print(key)

Robert
Jane
Liza
Richard
Oleg

In [98]:
for key, value in staff_dict.items():
    print(key, value['salary'])

Robert 800
Jane 200
Liza 1300
Richard 500

KeyError: 'salary'

In [100]:
for i, person in enumerate(staff_dict):
    print(i+1, person)

1 Robert
2 Jane
3 Liza
4 Richard
5 Oleg

In [103]:
for person, info in staff_dict.items():
    print(person, "'s salary: ", info['salary'], sep='')

Robert's salary: 800
Jane's salary: 200
Liza's salary: 1300
Richard's salary: 500

KeyError: 'salary'

In [112]:
for person, info in staff_dict.items():#   
    if info['salary'] > 500:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
#
staff_dict

SyntaxError: invalid syntax (<ipython-input-112-0b3827f85c6c>, line 1)

In [113]:
categories = ['Еда', 'Авто', 'Политика', '346346']
audience = [100, 200, 300]

categories_dict = dict(zip(categories, audience))
print(categories_dict)

{'Еда': 100, 'Авто': 200, 'Политика': 300}

In [116]:
categories = ['Еда', 'Авто', 'Политика', '346346']
audience = [100, 200, 300]

dict(zip(categories, audience))

{'Еда': 100, 'Авто': 200, 'Политика': 300}

### Dict comprehension

#### Похоже на list comprehension

In [115]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [117]:
{n: n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [119]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

In [121]:
# как zip
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}

# Домашка

In [ ]:
## Задание 1
Дана переменная, в которой хранится словарь, содержащий гео-метки для каждого пользователя 
(пример структуры данных приведен ниже). Вам необходимо написать программу, 
которая выведет на экран множество уникальных гео-меток всех пользователей.

Пример работы программы:

ids = {‘user1’: [213, 213, 213, 15, 213],
‘user2’: [54, 54, 119, 119, 119],
‘user3’: [213, 98, 98, 35]}
Результат: {98, 35, 15, 213, 54, 119}

In [130]:
user1 = set([213, 213, 213, 15, 213])
user2 = set([54, 54, 119, 119, 119])
user3 = set([213, 98, 98, 35])
print(user1|user2|user3)

{98, 35, 213, 54, 119, 15}

In [ ]:
## Задание 2
Дана переменная, в которой хранится список поисковых запросов пользователя 
(пример структуры данных приведен ниже). 
Вам необходимо написать программу, которая выведет на экран распределение количества слов в запросах в требуемом виде.

Пример работы программы:

queries = [
‘смотреть сериалы онлайн’,
‘новости спорта’,
‘афиша кино’,
‘курс доллара’,
‘сериалы этим летом’,
‘курс по питону’,
‘сериалы про спорт’,
]
Результат:

Поисковых запросов, содержащих 2 слов(а): 42.86%
Поисковых запросов, содержащих 3 слов(а): 57.14%

from collections import Counter
queries = ['смотреть сериалы онлайн', 'новости спорта', 'афиша кино', 'курс доллара', 'сериалы этим летом', 'курс по питону','сериалы про спорт',
]
for item in queries:
    array = [len((item.split()))]
    print(array)

In [262]:
from collections import Counter
array = ['3', '2', '2', '2', '3', '3', '3']
c = Counter(array)
print("Поисковых запросов, содержащих:", c )

Поисковых запросов, содержащих: Counter({'3': 4, '2': 3})

In [ ]:
## Задание 3
Дана переменная, в которой хранится информация о затратах и доходе рекламных кампаний 
по различным источникам. 
Необходимо дополнить исходную структуру показателем ROI, 
который рассчитаем по формуле: (revenue / cost - 1) * 100

Пример работы программы:

results = {
‘vk’: {‘revenue’: 103, ‘cost’: 98},
‘yandex’: {‘revenue’: 179, ‘cost’: 153},
‘facebook’: {‘revenue’: 103, ‘cost’: 110},
‘adwords’: {‘revenue’: 35, ‘cost’: 34},
‘twitter’: {‘revenue’: 11, ‘cost’: 24},
}
Результат:

{‘adwords’: {‘ROI’: 2.94, ‘cost’: 34, ‘revenue’: 35},
‘facebook’: {‘ROI’: -6.36, ‘cost’: 110, ‘revenue’: 103},
‘twitter’: {‘ROI’: -54.17, ‘cost’: 24, ‘revenue’: 11},
‘vk’: {‘ROI’: 5.1, ‘cost’: 98, ‘revenue’: 103},
‘yandex’: {‘ROI’: 16.99, ‘cost’: 153, ‘revenue’: 179}}

In [311]:
results = {
'vk': {'revenue': 103, 'cost': 98},
'yandex': {'revenue': 179, 'cost': 153},
'facebook': {'revenue': 103, 'cost': 110},
'adwords': {'revenue': 35, 'cost': 34},
'twitter': {'revenue': 11, 'cost': 24},
}
for key, value in results.items():
    value['ROI'] = round(((value['revenue'] / value['cost']) - 1)*100 , 2)
    print(key, value)

vk {'revenue': 103, 'cost': 98, 'ROI': 5.1}
yandex {'revenue': 179, 'cost': 153, 'ROI': 16.99}
facebook {'revenue': 103, 'cost': 110, 'ROI': -6.36}
adwords {'revenue': 35, 'cost': 34, 'ROI': 2.94}
twitter {'revenue': 11, 'cost': 24, 'ROI': -54.17}

In [ ]:
##Задание 4
Дана переменная, в которой хранится статистика рекламных каналов 
по объемам продаж (пример структуры данных приведен ниже). Напишите программу, 
которая возвращает название канала с максимальным объемом продаж.

Пример работы программы:

stats = {‘facebook’: 55, ‘yandex’: 115, ‘vk’: 120, ‘google’: 99, ‘email’: 42, ‘ok’: 98}

Результат: Максимальный объем продаж на рекламном канале: vk

In [345]:
stats = {'facebook': 55, 'vk': 120, 'google': 99, 'email': 42, 'ok': 98}
max_val = max(stats.items())
print("Максимальный объем продаж на рекламном канале: ", max_val[0])

Максимальный объем продаж на рекламном канале:  vk

##Задание 5
Дан список произвольной длины. Необходимо написать код, который на основе исходного списка 
составит словарь такого уровня вложенности, какова длина исхондого списка.

Примеры работы программы:

my_lis = [‘2018-01-01’, ‘yandex’, ‘cpc’, 100]
Результат: {‘2018-01-01’: {‘yandex’: {‘cpc’: 100}}}

my_lis = [‘a’, ‘b’, ‘c’, ‘d’, ‘e’, ‘f’]
Результат: {‘a’: {‘b’: {‘c’: {‘d’: {‘e’: ‘f’}}}}}

In [375]:
from functools import reduce

my_list1 = ['2018-01-01', 'yandex', 'cpc', 100]

print(reduce(lambda val, key: {key: val}, reversed(my_list)))

{'2018-01-01': {'yandex': {'cpc': 100}}}

In [376]:
from functools import reduce

my_list2 = ['a', 'b', 'c', 'd', 'e', 'f']

print(reduce(lambda val, key: {key: val}, reversed(my_list2)))

{'a': {'b': {'c': {'d': {'e': 'f'}}}}}